
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
}

.controls {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    align-items: center;
}

.controls > * {
    margin-left: 10px;
}
